.todo-conteudo {
  padding: 0 10%;
}

.conteudo {
  float: left;
  width: 100%
}

.contats h1 {
  font-size: 2.4rem;
  color: var(--color-white);
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  margin: 50px 10px;
  align-items: center;
  justify-content: center;
}

.contats h2 {
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: var(--color-support);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;


  padding: 30px 15px;
  margin-bottom: 20px;
}

.contats a {
  margin: 50px 50px;
  color: var(--color-support);
  width: 300px;

  text-decoration: none;
  font-size: 1rem;
}


.contats a span {
  width: 50px;
  height: 50px;
  background-color: var(--color-razzmatazz);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}


/* HOVER */

.contats a:hover {
  text-decoration: underline;
  color: var(--color-razzmatazz);
}

.contats-links .whatsapp:hover {
  background-color: var(--color-whatsapp);
  transition: color 200ms;
}

.contats .contats-links .github:hover {
  background-color: var(--color-github);
  transition: color 200ms;
}

.contats .contats-links .linkedin:hover {
  background-color: var(--color-linkedin);
  transition: color 200ms;
}

.contats .contats-links .email:hover {
  background-color: var(--color-primary-dark);
  transition: color 200ms;
}

.contats a span img {
  width: 100%;
}

@media (max-width: 800px) {
.contats a {
    margin: 50px 5px;
    font-size: 13px;
    margin: 20px 5px;
}
.contats .contats-links {
    flex-direction: column;
  }
}