<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olá eu sou Raione</title>
  <link rel="stylesheet" href="../public/styles/main.css">
  <link rel="stylesheet" href="../public/styles/partials/contato.css">
  <link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon.png">
</head>
<body>
  <header>
    <div class="links">
      <a href="../index.html">Home</a>
      <a href="sobre.html">Sobre</a>
      <a href="portfolio.html">Portfólio</a>
      <a href="contato.html">Contatos</a>
    </div>
  </header>

  <section class="projects conteudo todo-conteudo contats" >
    <h1>
        <figure style="display: inline; margin-right: 15px;">
            <img src="../public/images/quadrado_rosa.png" alt="">
        </figure> Contato
    </h1>
    <h2>Fique a vontade para entrar em contato comigo, será um prazer falar com você.
        <br>
        Estou online todos os dias ;)
    </h2>

    <div class="contats-links" style="display: flex; align-items: center; justify-content: center;">
        <a href="https://wa.me/+551195953388" target="_blank" title="Whatsapp">
            <span class="whatsapp">
                <img src="../public/images/whatsapp.png" alt="imagem whatsapp">
            </span>
            +55 11 95953-3388
        </a>
        <a href="https://github.com/raionenascimento" target="_blank" title="Github">
            <span class="github">
                <img src="../public/images/github.svg" alt="imagem github">
            </span>
            github.com/raionenascimento
        </a>
    </div>

    <div class="contats-links" style="display: flex; align-items: center; justify-content: center;">
        <a href="https://www.linkedin.com/in/raionenascimento/" title="Contato pelo Linkedin" target="_blank">
            <span class="linkedin">
                <img src="../public/images/linkedin.svg" alt="imagem linkedin">
            </span>
            in/raionenascimento/
        </a>
        <a href="mailto:raionebonfim@gmail.com?subject=Contato" title="Contato por Email">
            <span class="email">
                <img src="../public/images/email.png" alt="imagem e-mail">
            </span>
            raionebonfim@gmail.com
        </a>
    </div>
  </section>

</body>
</html>