<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olá eu sou Raione</title>
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/partials/portfolio.css">
    <link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon.png">
  </head>
<body>
  <header>
    <div class="links">
      <a href="../index.html">Home</a>
      <a href="sobre.html">Sobre</a>
      <a href="portfolio.html">Portfólio</a>
      <a href="contato.html">Contatos</a>
    </div>
  </header>

  <div class="projects conteudo todo-conteudo">
    
    <div id="wrapper">
      <h1>
        <figure style="display: inline; margin-right: 15px;">
          <img src="../public/images/quadrado_rosa.png" alt="quadrado rosa">
        </figure>
        PROJETOS
      </h1>
    </div>

    <div class="divflex" style="display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;">
        
      <div class="project">
        <div class="projectFolder">
          <img src="../public/images/projeto_happy_app.png" alt="Card 01">
        </div>
        <p>Happy App</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../public/images/skill03.png" alt="ReactJs">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill04.png" alt="React Navite">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill05.png" alt="NodeJs">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill06.png" alt="TypeScript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/happy-app" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../public/images/projeto_happy_web.png" alt="Card 02">
        </div>
        <p>Happy WEB</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../public/images/skill01.png" alt="Html">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill02.png" alt="Css">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill07.png" alt="Javascript">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill08.png" alt="Handlebars">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/happy-app" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../public/images/projeto_bethehero_app.png" alt="Card 03">
        </div>
        <p>Be The HERO</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../public/images/skill03.png" alt="ReactJs">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill04.png" alt="React Navite">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill05.png" alt="NodeJs">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill07.png" alt="Javascript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/happy-app" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../public/images/projeto_profffy_web.png" alt="Card 04">
        </div>
        <p>Proffy</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../public/images/skill01.png" alt="Html">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill02.png" alt="Css">
          </div>
          <div class="projectIcon animations">
            <img src="../public/images/skill07.png" alt="Javascript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/happy-app" target="_blank">ACESSAR</a>
      </div>

  </div>
  <script src="../public/scripts/script.js"></script>
</body>
</html>