<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olá eu sou Raione</title>
    <link rel="stylesheet" href="../src/styles/main.css">
    <link rel="stylesheet" href="../src/styles/partials/portfolio.css">
    <link rel="shortcut icon" type="image/x-icon" href="../src/images/favicon.png">
  </head>
<body>
  <header>
    <div class="links">
      <a href="../index.html">Home</a>
      <a href="sobre.html">Sobre</a>
      <a href="portfolio.html">Portfólio</a>
      <a href="contato.html">Contatos</a>
    </div>
  </header>

  <div class="projects conteudo todo-conteudo">
    
    <div id="wrapper">
      <h1>
        <figure style="display: inline; margin-right: 15px;">
          <img src="../src/images/quadrado_rosa.png" alt="quadrado rosa">
        </figure>
        PROJETOS
      </h1>
    </div>

    <div class="divflex" style="display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;">
        
      <div class="project">
        <div class="projectFolder">
          <img src="../src/images/card01/projeto_happy_app.png" alt="Card 01">
        </div>
        <p>Happy App</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../src/images/card01/skill03.png" alt="ReactJs">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card01/skill04.png" alt="React Navite">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card01/skill05.png" alt="NodeJs">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card01/skill06.png" alt="TypeScript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/happy-app" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../src/images/card02/projeto_Ecoleta.png" alt="Card 02">
        </div>
        <p>Ecoleta</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../src/images/card02/skill01.png" alt="Html">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card02/skill02.png" alt="Css">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card02/skill07.png" alt="Javascript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/ecoleta" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../src/images/card03/projeto_bethehero_app.png" alt="Card 03">
        </div>
        <p>Be The HERO</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../src/images/card03/skill03.png" alt="ReactJs">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card03/skill04.png" alt="React Navite">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card03/skill05.png" alt="NodeJs">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card03/skill07.png" alt="Javascript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/Be-the-hero" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../src/images/card04/projeto_proffy_web.png" alt="Card 04">
        </div>
        <p>Proffy WEB</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../src/images/card04/skill01.png" alt="Html">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card04/skill02.png" alt="Css">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card04/skill07.png" alt="Javascript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/proffy-web" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../src/images/card05/projeto_moveit_web.png" alt="Card 05">
        </div>
        <p>Move iT</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../src/images/card05/skill02.png" alt="Css">
          </div>          
          <div class="projectIcon animations">
            <img src="../src/images/card05/skill03.png" alt="ReactJs">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card05/skill06.png" alt="TypeScript">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card05/skill07.png" alt="JavaScript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/move-it" target="_blank">ACESSAR</a>
      </div>

      <div class="project">
        <div class="projectFolder">
          <img src="../src/images/card06/projeto_ui_tesla.png" alt="Card 06">
        </div>
        <p>UI Clone Tesla</p>
        <span>Projeto de Estudo</span>
  
        <div style="display: flex; align-items: center; justify-content: center;">
          <div class="projectIcon animations">
            <img src="../src/images/card06/skill02.png" alt="Css">
          </div>          
          <div class="projectIcon animations">
            <img src="../src/images/card06/skill03.png" alt="ReactJs">
          </div>
          <div class="projectIcon animations">
            <img src="../src/images/card06/skill06.png" alt="TypeScript">
          </div>
        </div>
        <a href="https://github.com/RaioneNascimento/ui-clone-tesla" target="_blank">ACESSAR</a>
      </div>
  </div>
</body>
</html>