<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olá eu sou Raione</title>
  <link rel="stylesheet" href="../public/styles/main.css">
  <link rel="stylesheet" href="../public/styles/partials/sobre.css">
  <link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon.png">
</head>
<body>
  <header>
    <div class="links">
      <a href="../index.html">Home</a>
      <a href="sobre.html">Sobre</a>
      <a href="portfolio.html">Portfólio</a>
      <a href="contato.html">Contatos</a>
    </div>
  </header>

  <div id="sobre">
    <h1>
      <figure style="display: inline; margin-right: 15px;">
        <img src="../public/images/quadrado_rosa.png" alt="quadrado rosa">
      </figure>
      SOBRE
    </h1>
  </div> 

  <section class="conteudo todo-conteudo">
    
    <div class="first-box box35">
      <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/56979345?s=460&u=e692b2170901e183a92de244a2456a5856d776ef&v=4" alt="Raione Nascimento">
      </div>

      <div class="links-footer links">
        <a href="https://github.com/raionenascimento" target="_blank">
          <img class="github" src="../public/images/github.svg" alt="icon-social">
        </a>
        <a href="https://linkedin.com/in/raionenascimento" target="_blank">
          <img class="linkedin" src="../public/images/linkedin.svg" alt="icon-social">
        </a>
        <a href="https://wa.me/+551195953388" target="_blank">
          <img class="whatsapp" src="../public/images/whatsapp.png" alt="icon-social">
        </a>
      </div>
    </div>
    
    <div class="secondary-box box64">
      <h2>Conheça um pouco sobre mim</h2>
      <p>Atuo como Analista de Suporte a 8 anos, no ínicio do ano de 2020 tomei a decisão de querer se tornar um Desenvolvedor Front-End.
        <br><br>        
        Sou estudante de Desenvolvimento Front-end e no momento estou buscando me manter atualizado com as tecnologias mais usadas e funcionais do mercado, para ter sempre a disposição do cliente a ferramenta mais eficaz para seu projeto, para não apenas fazer um layout limpo e impecável, mas também garantir que o usuário tenha uma excelente experiência ao visitar seu site.        
      </p>
    </div>

    <div class="third-box box100">
      <img class="animations" src="../public/images/skill01.png" alt="html-icon">
      <img class="animations" src="../public/images/skill02.png" alt="css-icon">
      <img class="animations" src="../public/images/skill07.png" alt="javascript-icon">
      <img class="animations" src="../public/images/skill03.png" alt="reactjs-icon">
      <img class="animations" src="../public/images/skill04.png" alt="reactnative-icon">
      <img class="animations" src="../public/images/skill05.png" alt="nodejs-icon">
    </div>
    
  </section>
</body>
</html>