.project .projectFolder {
  border-bottom: 3px solid var(--color-primary);
}

.project a {
  width: 90%;
  height: 50px;
  margin: 10px 5%;
  background-color: var(--color-razzmatazz);
  color: var(--color-font-primary);
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}

.project a:hover {
  background-color: var(--color-primary-dark)
}

.projects {
  margin-bottom: 100px;
}

.todo-conteudo {
  padding: 0 10%;
}

.conteudo {
  float: left;
  width: 100%
}

.projects h1 {
  font-size: 2.4rem;
  color: var(--color-white);
  font-family: 'Bebas Neue', sans-serif;

  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.project {
  margin: 10px 10px;
  border-radius: 15px;
  background-color: var(--color-support-dark);
  width: 320px;
}

.project img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.project p {
  margin-top: 10px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 20px;
}

.project span {
  text-align: center;
  color: var(--color-text);
  font-family: 'Oswald', sans-serif;
  margin: 10px 0;
  width: 100%;
  display: block;
}

.project .projectIcon img{
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
}

.animations {
  transition: 0.4s;
}

.animations:hover {
  transform: translateY(-5px);
}