@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
} 

*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --color-background: #18181F;
  --color-primary: #ED145B;
  --color-secondary: #000;
  --color-primary-dark: #ED1437;
  --color-white: #FFFFFF;
  --color-secondary: #e1e1e6;
  --color-text: #a8a8b3;
  --color-support: #737380;
  --color-support-dark: #63636b;
  --color-razzmatazz: #ED145b;
  --color-whatsapp: #00BD72;
  --color-github: #060806;
  --color-linkedin:#2F4F92;
  --text: 18px;
  --text-title: 50px;
  --text-h2: 25px;
  --text-p: 20px;
}

body {
  background: var(--color-background);
  color: var(--color-white);
  font-family: 'Merriweather Sans', sans-serif;
}

header {
  padding: 32px;
  border-bottom: 1px solid var(--color-support);
  background: rgba(0, 0, 0, 0.3);
}

.links {
  text-align: center;
}

.links a {
  color: var(--color-white);
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.6rem;
  
  text-decoration: none;
  border-bottom: 1px solid var(--color-razzmatazz);
}

.links a:hover {
  color: var(--color-razzmatazz);
  transition: color 200ms;
}  

#links-footer {
  padding: 1% auto 10px;
  margin: 0px auto;
}

footer .copyright {
  text-align: center;
  margin: 0px auto;

  padding: 10px;

  font-size: 0.9em;
}