.banner h2 {
  color: var(--color-razzmatazz);
  font-family: 'Bebas Neue', sans-serif;

  font-size: 1.6em;
  font-weight: 400;
}

.banner h1 {
  font-size: 3.8em;
  color: var(--color-white);

  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

.banner p {
  width: auto;
  color: var(--color-support);

  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 28px;

  margin-bottom: 30px;
 
}

.box-central-1 {
  padding-right: 100px;
  padding-top: 100px;

  width: 700px;
}

.box-central-1 a {
  color: var(--color-razzmatazz);
  border: 2px solid var(--color-razzmatazz);
  background-color: transparent;
  font-size: 20px;
  padding: 10px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  transition: .3s;

  text-decoration: none;
}

.box-central-1 a:hover {
  color: var(--color-background);
  background-color: var(--color-razzmatazz);
}

.box-central-2 img {
  width: 100%;
  padding-left: 70px;
  margin-right: 1%;
}

.animations {
  transition: transform 0.4s ease-in-out;
}

.animations:hover {
  transform: translateY(-10px)
}

@media (max-width: 1000px) {
  #grid-container {
    margin: 0px;
  }
  
  .banner div:nth-of-type(1) {
    padding-top: 0;
    padding-right: 0;
    width: 100%;
  }
 
  .box-central-2 img {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
  }

  .banner h2 {
    font-size: 24px;
  }

  .banner p {
    font-size: 18px;
    line-height: 30px;
  }

  .banner a {
    margin: 0 auto 2rem;
  }

  .conteudo {
    float: left;
    width: 100%;
  }
  .todo-conteudo {
      padding: 10% 10%;
  }

  .banner h1,
  .banner h2,
  .banner p {
    text-align: center;
  }

  .copyright {
    margin-bottom: 7%;
  }
}

@media (min-width: 1001px) {
  #grid-container {
    display: grid;
    grid-template-columns: 850px auto;
    padding: 3% 10% 1%
  }

  .grid-item {
    padding: 10px;
  }
}
