#sobre h1 {
  font-size: 2.4rem;
  color: var(--color-white);
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.todo-conteudo {
  background-image: url(../../public/images/background_quadrados.svg);
  padding: 30px 300px 20px 400px;
}

.box35 {
  width: 34%;
  margin-right: 1%;
}

.first-box {
  width: auto;
  float: left;

  text-align: center;
}

.first-box .links-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20%;
  margin-top: 50px;
}

.links-footer a {
  border-bottom: none;
}

.first-box .links-footer a img {
  width: 50px;
  height: 50px;
  background-color: var(--color-razzmatazz);
  padding: 10px;
  border-radius: 5px;
}

.first-box .links-footer .github:hover {
  background-color: var(--color-github);
  transition: color 200ms;
}

.first-box .links-footer .linkedin:hover {
  background-color: var(--color-linkedin);
  transition: color 200ms;
}

.first-box .links-footer .whatsapp:hover {
  background-color: var(--color-whatsapp);
  transition: color 200ms;
}

#wrapper img {
  height: 200px;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  padding: 5px;
  margin: 0 auto;
}

.box65 {
  width: 64%;
  margin-right: 1%;
}

.secondary-box {
  width: auto;
  float: left;
}

.secondary-box h2 {
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 15px;

  padding: 0px 100px;
}

.secondary-box p {
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 28px;

  color: var(--color-support);
  max-width: 850px;
  padding: 0px 100px;
}

.box100 {
  width: 99%;
  margin-right: 1%;
}

.third-box {
  width: auto;
  float: left;

  margin-left: 80px;
}

.third-box img {
  width: 80px;
  height: 80px;
  padding: 15px;  
  margin: 80px 20px 50px 20px;

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
} 

.animations {
  transition: 0.4s;
}

.animations:hover {
  transform: translateY(-10px);
}